<!doctype html>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="./css/main.css">
		<link rel="stylesheet" href="css/register.css">
		<link rel="stylesheet" href="./css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="scripts/logout.js"></script>
        <script src="./scripts/jquery-1.8.2.js"></script>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	</head>
    <body onload="form1.reset();">
		<div id="header">
			<div id="logo">
				<a href="home.html">
					<img src="images/food.jpg" width="80px" height="60px" alt="Home" /><br/>
					<h1>Food Pantry</h1>
				</a>
			</div>
            <div id="logout-button2">REGISTER NEW USER</div>
            <div id="logout-buttonh">
                <a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
            </div>
		</div>

		<!--<div id="login">-->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-offset-7" style="margin-left:31%">
						<div class="panel panel-default">
							<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Register New User</div>
							<div class="panel-body">
							    <form id="form1" class="form-horizontal" role="form" method="POST" action="/register">
									<div class="form-group">
										<label for="inputUsername" class="col-sm-4 control-label">Username  </label>
										<div class="col-sm-8" style="padding-left: 2em"><input name="username" type="text" class="form-control" id="inputUsername" placeholder="Username" required></div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label">Password </label>
										<div class="col-sm-8" style="padding-left: 2em"><input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password" required></div>
									</div>
									<div class="form-group">
										<label for="email" class="col-sm-4 control-label">E-mail </label>
										<div class="col-sm-8" style="padding-left: 2em"><input name="email" type="email" class="form-control" id="email" placeholder="E-mail" required></div>
									</div>
                                    <div class="form-group">
                                        <label for="first" class="col-sm-4 control-label">First Name </label>
                                        <div class="col-sm-8" style="padding-left: 2em"><input name="first" type="name" class="form-control" id="first" placeholder="First Name" required></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="last" class="col-sm-4 control-label">Last Name </label>
                                        <div class="col-sm-8" style="padding-left: 2em"><input name="last" type="name" class="form-control" id="last" placeholder="Last Name" required></div>
                                    </div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-15">
											<div class="checkbox">
												<label><input type="checkbox" name="isAdminFlag" value="true">This user is a director</input></label>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<div class="form-group last">
										<div class="col-sm-offset-3 col-sm-15">
											<button type="submit" class="btn btn-success btn-sm">Register</button>
											<button type="reset" class="btn btn-default btn-sm">Reset</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<!-- end login -->
		<script type="text/javascript" src="./scripts/bootstrap.min.js"></script>
	</body>
</html>
