<!doctype html>
<html>
	<head>
		<title>Reports</title>
		<link rel="stylesheet" href="./css/main.css">
		<link rel="stylesheet" href="./css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="scripts/logout.js"></script>
		<script src="scripts/operations.js"></script>
		<script src="./scripts/jquery-1.8.2.js"></script>
	</head>
	<body>
		<div id="header">
		     <div id="logo">
		    		<a href="home.html">
					<img src="images/food.jpg" width="80px" height="60px" alt="Home" /><br/>
					<h1>Food Pantry</h1>
				</a>
			</div>
               <div id="logout-button1">REPORTS</div>
			<div id="logout-buttonh"> 
	               <a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
			</div>
	    	</div>
		<br><br><br>
     </body>
</html>
