<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/register.css">
	<link rel="stylesheet" href="./css/bootstrap.css">
</head>

<body>
	<div id="header">
	<div id="headercenter">
	<div id="logo">
	<br>
	<center><h1>FOOD PANTRY INFORMATION MANAGEMENT</h1></center>
	</div>
	</div>
	</div>
	<a href="pickup.html">
	<img src="../images/simel.gif" alt="Pickup" width="100" height="100">
	</a>
	<br>

	<a href="bags.html">
	<img src="./images/smile.gif" alt="Bags" width="100" height="100">
	</a><br>

	<a href="drop.html">
	<img src="smile.gif" alt="Drop-Offs" width="50" height="50">
	</a><br>

	<a href="clients.html">
	<img src="smile.gif" alt="Clients" width="50" height="50">
	</a><br>

	<a href="report.html">
	<img src="smile.gif" alt="Service Reports" width="50" height="50">
	</a><br>

	<a href="product.html">
	<img src="smile.gif" alt="Products" width="50" height="50">
	</a><br>

</body>
</html>
